$clr: #a12db5;
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vh;
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;

    .tabs{
        width: 80px;
        padding: 40px 0;
        position: relative;

        input{
            display: none;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}):checked ~ .icon label:nth-child(#{$i}){
                    opacity: 1;
                }
                &:nth-child(#{$i}):checked ~ .icon .indicator{
                    top: 25% * ($i - 1);
                }
                &:nth-child(#{$i}):checked ~ .content .content-box:nth-child(#{$i}){
                    opacity: 1;
                }
            }

            // &:nth-child(1):checked ~ .icon label:nth-child(1){
            //     opacity: 1;
            // }
        }

        .icon{
            display: flex;
            flex-direction: column;
            position: relative;

            label{
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 2em;
                color: #fff;
                text-align: center;
                opacity: 0.5;
                z-index: 2;
            }

            .indicator{
                position: absolute;
                left: 0;
                top: 0;
                width: 80px;
                height: 80px;
                background-color: $clr;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px ;
                transition: 0.5s;

                &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -20px;
                    width: 20px;
                    height: 20px;
                    background-color: transparent ;
                    //          水平偏移  垂直偏移 模糊 半径  颜色    
                    box-shadow: 8px 8px 0 8px $clr;
                    border-bottom-right-radius: 30px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -20px;
                    width: 20px;
                    height: 20px;
                    background-color: transparent ;
                    box-shadow: 8px -8px 0 8px $clr;
                    border-top-right-radius: 30px;
                }
            }
        }

        .content{
            position: absolute;
            width: 520px;
            height: 400px;
            top: 0;
            left: 80px;
            background: linear-gradient(90deg, $clr, #df0d54);
            border-radius: 20px;
            color: #fff;

            .content-box{
                position: absolute;
                inset: 0;
                padding: 50px;
                opacity: 0;
                transition: 0.5s;
            }
        }
    }
}